::selection {
    background-color: #920000;
    color: white;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.02rem;
    font-weight: 200;
    font-size: 1.1rem;
}
a {
    color: #920000;
    text-decoration: none;
}
a:hover {
    color: #5f0000;
    border-bottom: 2px solid #5f0000;
    text-decoration: none;
}

#sapper {
    width: 100%;
}
